\documentclass[10pt]{article}

\usepackage{graphicx}
\usepackage{fancyhdr}
\usepackage[table]{xcolor}
\usepackage{booktabs}
\usepackage{longtable}
\usepackage{siunitx}
\sisetup{
  add-integer-zero = false,
  add-decimal-zero = false,
}

((# \AddToHook{cmd/section/before}{\clearpage} #))

\usepackage{titlesec}
\newcommand{\sectionbreak}{\clearpage}


\title{Calibration report}
\date{}

\begin{document}
\maketitle

\pagestyle{fancy}
\fancyhead[L]{%
  ((( sensor_model )))
}
\fancyhead[C]{((( serial_number )))}
\fancyhead[R]{((( calibration_date )))}

\begin{center}
  \begin{tabular}{lp{3in}}
    \toprule
    Sensor model & ((( sensor_model ))) \\
    Serial number & ((( serial_number ))) \\
    \hline
    Fiducial sensor model & ((( fiducial_sensor.name ))) \\
    Fiducial sensor serial number & ((( fiducial_sensor.serial_number ))) \\
    Fiducial sensor notes & ((( fiducial_sensor.notes ))) \\
    \hline
    Calibration date & ((( calibration_date ))) \\
    Calibration range & \SIrange{((( calibration_range[0]  )))}{((( calibration_range[1] )))}{\kelvin} \\
    Calibration details & ((( notes ))) \\
    \bottomrule
  \end{tabular}
\end{center}

\section{Calibration data}

\begin{center}
  \includegraphics[width=\textwidth]{caldata.pdf}
\end{center}

((* if fit_details is not none *))
  \section{Fit}

  ((( fit_details )))
((* endif *))

\section{Interpolation table}

\rowcolors{2}{gray!10}{white}
\begin{longtable}{SSSS}
  {$T$ [\si{\kelvin}]}
    & {$R$ [\si{\ohm}]}
    & {$\frac{dR}{dT}$ [\si{\ohm/\kelvin}]}
    & {$\frac{d \log R}{d \log T} = \frac{T}{R} \frac{dR}{dT}$} \\
  \midrule
  \endhead
  ((* for temperature, resistance, sensitivity, dimless_sensitivity in records -*))
    ((( '%#.4g & %#.6g & %#.5g & %#.5g'|format(temperature, resistance, sensitivity, dimless_sensitivity) ))) \\
  ((* endfor *))
\end{longtable}
\end{document}
