\begin{equation}
  \log_{10} \frac{R}{\si{\ohm}} = \sum_{k=0}^N a_k (\log_{10} \frac{T}{\si{\kelvin}})^k
\end{equation}

\begin{center}
  \begin{tabular}{SS}
    \toprule
    {$k$} & {$a_k$} \\
    \midrule
    ((* for coeff in coeffs -*))
      ((( loop.index0 ))) & ((( '%#.6g'|format(coeff) ))) \\
    ((* endfor *))
    \bottomrule
  \end{tabular}
\end{center}
